$font-family-sans-serif:  "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, SimSun, "FontAwesome", serif; //FangSong, STFangSong
$font-family-monospace:  Monaco, Menlo, Consolas, "Courier New", "FontAwesome", monospace !default;
$font-family-kai:  Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, "FontAwesome", serif !default;


$link: #999;
$bdColor: #ccc;